body {
   margin: 0px;
}

label {
   float: left;
   text-align: right;
   margin-right: 15px;
   width: 100px;
}

#toolbar {
   background: #ddd;
   border-top: solid 1px #666;
   bottom: 0;
   position: fixed;
   width: 100%;
   z-index: 1000;
}

.content {
   margin-left:20%;
   margin-right:20%;
}

.left-column {
   width: 80%;
   float: left;
}

.right-column {
   float: right;
}

.button {
   background: #beb;
   border: 0.2em solid #c4c8cc;
   margin: 0.2em;
   border-radius: 1em 1em 1em 1em;
   padding: 0.2em;
}

.toolbar-padding {
   padding: 10px;
}

.toolbar-height {
   width:95%;
   height:200px !important;
   min-height:200px !important;
}

.name {
   font-weight: bold;
}

.information {
   font-style: italic;
}

.comment-continuation {
   margin-left: 2em;
}

.proposal {
   background: #eee;
   border: 0.2em solid #c4c8cc;
   margin: 1em;
   border-radius: 1em 1em 1em 1em;
   padding: 1em 1em 1em 1em;
}

.resolution {
   background: #beb;
   border: 0.2em solid #c4c8cc;
   margin: 1em;
   border-radius: 1em 1em 1em 1em;
   padding: 1em 1em 1em 1em;
}
