label {
   float: left;
   text-align: right;
   margin-right: 15px;
   width: 100px;
}

textarea:focus, input:focus {
   border: 2px solid #900;
}

textarea {
   width:800px !important;
   min-width:400px !important;
   height:400px !important;
   min-height:400px !important;
}

.name {
   font-weight: bold;
}

.information {
   font-style: italic;
}

.comment-continuation {
   margin-left: 2em;
}

.proposal {
   background: #eee;
   border: 0.2em solid #c4c8cc;
   margin: 1em;
   border-radius: 1em 1em 1em 1em;
   padding: 1em 1em 1em 1em;
}

.resolution {
   background: #beb;
   border: 0.2em solid #c4c8cc;
   margin: 1em;
   border-radius: 1em 1em 1em 1em;
   padding: 1em 1em 1em 1em;
}
